
<script src="{{ "/js/jquery.min.js" | relURL }}"></script>
<script src="{{ "/js/semantic.min.js" | relURL }}"></script>
<script src="{{ "/js/html2canvas.min.js" | relURL }}"></script>
<script src="{{ "/js/bg.js" | relURL }}"></script>
<script src="{{ "/js/site.js" | relURL }}"></script>

{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
