{{ if eq .Type "post" }}
  <!-- Page Author & Description --> 
  <meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}" />
  <meta name="description" content="{{ .Summary | plainify }}" />
{{ else }}
  <!-- Site Author & Description -->
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

{{ if isset .Site.Params "favicon" }}
<link href="{{ .Site.Params.favicon | relURL }}" rel="shortcut icon" type="image/x-icon" />
{{ end }}

<!-- Site Generator -->
<meta name="generator" content="Hugo {{ .Hugo.Version }}" />

<!-- Permalink & RSSlink -->
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="alternative" href="{{ "/index.xml" | relURL }}" title="{{ .Site.Title }}" type="application/atom+xml" />

<link href="https://cdn.bootcss.com/semantic-ui/2.2.14/semantic.min.css" rel="stylesheet" />
<link rel="stylesheet" href=" {{ "/css/site.css" | relURL }}" />
